* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --index: calc(1vw + 1vh);
    --swiper-theme-color: #95989e;
    --swiper-navigation-size: 50px;
    --swiper-navigation-sides-offset: 40px;
    --swiper-pagination-bottom: 20px;
    --swiper-pagination-bullet-inactive-color: #5e5d5d; 
}

::-webkit-scrollbar {
    width: 0;
  }

a {
    text-decoration: none;
}

body {
    background-color: #000;
    color: #fff;
}

header {
    height: 100vh;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header h1 {
    font-size: calc(var(--index) * 3);
    margin-bottom: calc(var(--index) * 2);
    position: relative;
}

header h1::after {
    content: '';
    height: 1px;
    width: 20%;
    background-color: rgba(255, 255, 255, .5);
    position: absolute;
    left: 40%;
    bottom: calc(var(--index) * -1);
}

header p {
    font-size: calc(var(--index));
    margin-bottom: calc(var(--index) * 2);
}

.section {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
    height: 100vh;
}

#swiper {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
    height: 100vh;
}

.slider .slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide__content {
    text-align: center;
    opacity: 0;
    transition: opacity .25s ease;
}

.swiper-slide-active .slide__content {
    opacity: 1;
}

.slide__content h2 {
    font-size: calc(var(--index) * 3);
    text-transform: uppercase;
    letter-spacing: calc(var(--index) * .7);
    margin-bottom: calc(var(--index) * 2.3);
    position: relative;
}
.slide__content h2::after {
    content: '';
    height: 1px;
    width: 20%;
    background-color: rgba(255, 255, 255, .5);
    position: absolute;
    left: 40%;
    bottom: calc(var(--index) * -1);
}
.slide__content p {
    font-size: calc(var(--index) * .9);
    text-transform: uppercase;
    letter-spacing: calc(var(--index) * .24);
    margin-bottom: calc(var(--index) * 2.6);
}

.button, button {
    padding: 9.25px 40px;
    font-size: 20px;
    border-radius: 10em;
    border: 2px solid #fff;
    color: #fff;
    background-color: transparent;
    letter-spacing: .1rem;
    cursor: pointer;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}
