* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1170px;
    margin: auto;
}

body {
    background: #4ee2d6;
}
header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

main {
    display: flex;
    justify-content: space-between;
}

#canvas {
    background: #fff;
}

.buttons {
    display: flex;
    flex-direction: column;
}
